<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INDEX</title>
  </head>
  <style>
    body {
      background: black;
      text-align: center;
    }
    h1 {
      color: white;
      font-size: 6rem;
      margin: auto;
    }
    img {
      width: 25rem;
      height: 25rem;
    }
  </style>
  <body>
    <h1>INDEX</h1>
    <img src="img/img1.jpg" alt="image" />
  </body>
</html>
